@font-face {

	font-family: "Metropolis";
	src: url("../common/fonts/Metropolis-Light.otf") format("opentype");
	font-weight: lighter;
}

@font-face {

	font-family: "Metropolis";
	src: url("../common/fonts/Metropolis-Medium.otf") format("opentype");
}

@font-face {

	font-family: "Metropolis";
	src: url("../common/fonts/Metropolis-Bold.otf") format("opentype");
	font-weight: bold;
}

.h-main {

	font-family: "Metropolis", Arial, sans-serif;
	font-size: 22;
	font-weight: 550;
	color: #7892A3;
	margin: 0px;
}

.h-sub {

	font-family: "Metropolis", Arial, sans-serif;
	font-size: 18;
	font-weight: 550;
	color: #7892A3;
	margin: 0px;
}

.prototype {

    display: none !important;
}

.standard-text {

	font-family: "Metropolis", Arial, sans-serif;
	font-size: 16;
	font-weight: 550;
	color: silver;
	margin: 0px;
}

.site-module-container {

	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	padding: 15px;
}

.site-module-container.horizontal {

	display: flex;
	flex-direction: row;
}

.site-module-container.vertical {

	display: flex;
	flex-direction: column;
}

.site-module-container > .sub-module-container {

	position: relative;
	border: 0px solid lightgrey;
}

#react-body {

	padding: 0px;
}

.accent-button {

	font-family: "Metropolis", Arial, sans-serif;
	font-size: 18;
	font-weight: 550;
	color: white;
	letter-spacing: 0.125em;

	background-color: #BAE1FF;
	outline-width: 0;
	border: 4px solid #9EBFD8;

	padding: 7px 12px 5px 12px;

	transition-duration: 0.3s;
}

.accent-button:hover {

	color: white;
	background-color: #B0D5F2;
	border-color: #95B3C9;
	cursor: pointer; 

	transition-duration: 0.3s;
}