<html>
    
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        
        <style>

            @import url("../resources/bootloader/common/common.css");

        </style>
    
    </head>

    <body style="display: flex; flex-direction: column; justify-content: center; align-items: center;">

        <div id="react-body" class="site-module-container vertical" style="height: 80vmin; width: 80vmin;"></div>

        <script src="../resources/bootloader/generated/config.bundle.js"></script>
        
    </body>

</html>